body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    padding: 20px;
    color: white;
    text-align: center;
}

a {
    color: #353535;
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.logo {
    width: 80px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container input, .form-container select, .form-container button {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-container button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #0056b3;
}

.signature-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.signature-preview .signature-box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.social-icons img {
    margin-right: 5px;
}


.footer {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    .signature-preview .signature-box {
        padding: 15px;
    }

    .form-container input, .form-container select, .form-container button {
        font-size: 0.9rem;
    }
}